[submodule "opensbi"]
	path = opensbi
	url = https://github.com/ATS-INTC/opensbi.git
[submodule "axi-dma"]
	path = axi-dma
	url = https://github.com/zflcs/axi-dma.git
[submodule "axi-ethernet"]
	path = axi-ethernet
	url = https://github.com/zflcs/axi-ethernet.git
[submodule "ats-intc"]
	path = ats-intc
	url = https://github.com/ATS-INTC/ats-intc.git
	branch = axu15eg
